body {
    background-color: darkslategrey;
    text-transform: capitalize;
}

header {
    color: white;
}

main {
   background-color:dimgray; color: white;
    
}


main {
    padding: 50px;
    border-bottom:  3px solid white;
    width: 450px;

}


hr {
    color: solid black;
}

footer {
    color: white;
    text-align: center;
}